<template>
    <div class="slds-p-around_xx-small">
        <div role="dialog" tabindex="0" aria-labelledby="modal-heading-01" aria-modal="true"
             aria-describedby="modal-content-id-1" class={classes}>
            <div class="slds-modal__container mobileHeightAuto" style={modalStyle}>
                <header class={headerclass} if:false={hideHeader}>
                    <h1 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate font_famili_head">
                        <!-- Header Slot -->
                        <slot name="header"></slot>
                    </h1>
                </header>
                <div class={bodyclass} style={bodyStyle}>
                    <!-- Body Slot -->
                    <slot name="body"></slot>
                </div>
                <footer class={footerclass} if:false={hideFooter}>
                    <!-- Footer Slot Slot -->
                    <slot name="footer"></slot>
                </footer>
            </div>
        </div>
        <div class={backdropClass}></div>
    </div>
</template>