<template>
    <c-genric-modal classes='slds-modal newModal slds-fade-in-open zindex9004'
    backdrop-class="slds-backdrop slds-backdrop_open zindex9003">
    <span slot="header">Confirmation</span>
    <div slot="body">
        <p>Are you sure you want to cancel this?</p>
    </div>
    <div slot="footer">
        <lightning-button class="slds-p-right_xx-small slds-m-right_x-small" style="margin-right: 10px;"
            name="cancel" label="Cancel" variant="neutral">
        </lightning-button>
        <lightning-button name="Confirm" label="Yes" variant="brand"
           >
        </lightning-button>
    </div>
</c-genric-modal>
    
</template>